<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-for 实例</title>
  </head>

  <body>
    <h1>v-for 实例</h1>
    <hr />
    <div id="app">
      <ul>
        <li v-for="item in sortItems">
          {{ item }}
        </li>
      </ul>
      
      <hr />

      <ul>
        <li v-for="(student,index) in sortStudents">
          {{ index + 1 }}:{{ student.name }}-{{ student.age }}
        </li>
      </ul>
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          items: [25, 48, 54, 62, 15, 8, 32],
          students: [
            { name: "初中", age: 11 },
            { name: "小学", age: 5 },
            { name: "高中", age: 14 },
            { name: "工作", age: 22 },
            { name: "大学", age: 18 }
          ]
        },
        computed: {
          //items数组调用， sort规定排序顺序
          sortItems: function() {
            return this.items.sort(sortNumber);
          },
          //数组对象调用
          sortStudents: function() {
            return sortByKey(this.students, "age");
          }
        }
      });
      //items数组排序方法
      function sortNumber(a, b) {
        return a - b;
      }

      //数组对象排序方法
      function sortByKey(array, key) {
        return array.sort(function(a, b) {
          var x = a[key];
          var y = b[key];
          return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        });
      }
    </script>
  </body>
</html>
